html{
 height: 100%;  /*for images to occupy all the background length */
}
body {
 background-color:rgb(65, 71, 77); background-image: url(../ProjectZero/background\ 4.jpg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 }

.container { 
width:1024px;
height: max-content;
margin-left: auto;
margin-right: auto;
}

header {
 height: 108px;
 text-align: center;
}

nav {
 background-color: rgba(0, 0, 0, 0.322);
 text-align: center;
 padding-top: 14px;
 padding-bottom: 14px;
}

main {
 height:350px;
 text-align: center;
 padding-top: 45px;
 padding-left: 200px;
 padding-right: 200px;
 }

 h1 {
  font-size: 75px;
  color:rgba(164, 223, 183, 0.829) ;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
 }
 h1:hover{
  color: greenyellow;
 }
 p {
  font-size: 12px;
  color:white ;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
 }
 a {
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration: underline;
 }
 nav a{
  text-decoration: none;
  font-size:18px ;
  padding-left: 10px;
  padding-right: 10px;
  text-transform: capitalize;
 }
 /*a:link {
  color: white;
  font-style: italic;
  background-color: transparent;
  text-decoration: none;
 }
 a:active {
  color: green;
  text-decoration: underline;
 }
 /* a:visited { 
  color: green;
  text-decoration: underline ;
 }*/
  a:hover { 
  color: rgb(4, 141, 88);
 }
footer {
background-color: rgba(49, 54, 40, 0.637);
 /*for centralising the contents wihout using height*/
 padding-top: 10px;  
 padding-bottom: 10px; 
} 
footer p{
  text-align: center;
  color: rgb(194, 208, 224);
}
footer p a{ 
  text-decoration: double;
  text-transform: capitalize;
  font-size: 20px;
  padding-left: 14px;
  padding-right:14px;
} 
